*{
	background-color:#b5d9cd;
margin:0;
padding:0;
}
.upbox{
	height:100px;
	background-color:#637d7a;
	border:3px solid white;
}
.square{
	height:1900px;
	width:1031px;
	border:3px solid white;
	background-color:#637d7a;
	position:absolute;
	top:108px;
	left:1745px;
}
.patch{
	color:white;
	
	font-size:60px;
	font-weight:600px;
	background-color:#637d7a;
	position:absolute;
	left:185px;
	top:20px;
}
.home{
	color:white;
	background-color:#637d7a;
	color:white;
	font-size:40px;
	font-weight:400px;
	position:absolute;
	left:1600px;
	top:32px;
}
.about{
	color:white;
	background-color:#637d7a;
	color:white;
	font-size:40px;
	font-weight:400px;
	position:absolute;
	left:1900px;
	top:32px;
}
.product{
	color:white;
	background-color:#637d7a;
	color:white;
	font-size:40px;
	font-weight:400px;
	position:absolute;
	left:2200px;
	top:32px;
}
.beans{
	height:1722px;
	width:1027px;
	background-color:#637d7a;
	position:absolute;
	left:1px;
	top:6px;
}
.packet{
	position:absolute;
	left:831px;
	top:303px;
}
.packet2{
	position:absolute;
	left:-92px;
	top:119px;
}
.rubik-moonrocks-regular {
  font-family: "Rubik Moonrocks", serif;
  font-weight: 400;
  font-style: normal;
  position:absolute;
  top:105px;
  left:464px;
  font-size:117px;
}
.rubik-moonrocks-regular2 {
  font-family: "Rubik Moonrocks", serif;
  font-weight: 400;
  font-style: normal;
  position:absolute;
  top:244px;
  left:679px;
  font-size:90px;
  
  
}
.atma-bold {
  font-family: "Atma", serif;
  font-weight: 700;
  font-style: normal;
  color:#637d7a;
    position:absolute;
  top:1200px;
  left:5px;
  font-size:30px;
  
}
.purchase{
	position:absolute;
	 top:1498px;
  left:599px;
  background-color:#b5d9cd;
  color:white;
  height:277px;
  width:514px;
  
}